.controlButtons{
  display: flex;
}

.controlButtons button{
  flex: 1 0;
  margin: 0 4px
}

@media only screen and (max-width : 431px) {
  .controlButtons{
    flex-wrap: wrap;
  }

  .controlButtons button{
    margin: 2px;
    white-space: nowrap;
  }
}