.contact{
  margin: 30px;
}

.contact h1{
  text-align: center;
  margin-bottom: 25px;
}

.contact .contactForm{
  max-width: 700px;
  margin: auto;
}

.contactForm input,
.contactForm textarea{
  margin-bottom: 15px;
}

.contactForm .error{
  color: red;
  padding-left: 0.75rem;
}

.contactForm button{
  display: block;
  padding: 8px 30px;
  margin-left: auto;
}