@keyframes mount{
  from {transform: translateY(-100px); opacity: 0}
  to {transform: translateY(0); opacity: 1}
}

.modalBg {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.404);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWrapper{
  background: white;
  border-radius: 5px;
  max-height: 90vh;
  overflow: scroll;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.308);
  animation: mount .2s ease;
  margin: 20px;
}


.modalHeader{
  border-bottom: 1px solid #dee2e6;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.modalCloseButton{
  cursor: pointer;
}

.modalBody{
  padding: 20px 20px;
}

.filterModal{
  max-height: 80vh;
}

.filterModal .modalBody{
  display: flex;
  flex-flow: nowrap column
}
.filterModal .select{
  margin-bottom: 15px;
}

.filterModal select{
  display: block;
  padding: .5rem .7rem;
  min-width: 350px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}


.filterModal input{
  margin-bottom: 15px;
}

.taskInputOrEditModal .modalBody{
  min-width: 600px;
}

.taskInputOrEditModal textarea{
  margin: 10px 0;
}

.modalBody small{
  color: red;
}

.modalFooter{
  padding: 10px 20px;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
}

.modalFooter button{
  margin: 0 5px;
}

@media only screen and (max-width : 640px) {
  .taskInputOrEditModal .modalBody{
    min-width: auto;
  }

  .taskInputOrEditModal{
    width: 100%;
  }

  .filterModal select{
    width:  100%;
    min-width: auto;
  }
}



