
.navMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #3c8aff;
  margin-bottom: 25px;
  padding: 10px 30px;
}

.navMenu .navMenuLogo{
  padding: 0 5% 0 1%;
  margin-right: 20px;
  border-right: 2px solid white;
  font-size: 1.4rem;
}

.navMenu .userLink,
.navMenu .signInLink
{
  margin-left: auto;
}

.navMenuLink{
  padding-right: 15px;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.navMenu a{
  color: white;
}

.navMenu a:hover{
  opacity: 0.7;
}

.navMenu .navMenuLinkActive{
  color: #ffc107;
  transition: color 0.2s ease;
}


@media only screen and (max-width : 550px) {
  .navMenu .navMenuLogo{
    display: none;
  }
  .navMenuLink{
    padding-right: 3%;
  }
}

@media only screen and (max-width : 400px) {
  .navMenu{
    padding: 10px
  }

  .navMenuLink{
    font-size: 1.1rem;
  }

  .navMenu button{
    padding: 5px;
  }
}

@media only screen and (max-width : 320px) {

  .navMenuLink{
    font-size: 1rem;
  }
}