.Contact{
  margin: 30px;
}

.Contact h1{
  text-align: center;
  margin-bottom: 25px;
}

.Contact .contact-form{
  padding: 0 15%;
}

.Contact .contact-form .field{
  margin-bottom: 15px;
}

.Contact .contact-form .error{
  color: red;
  padding-left: 0.75rem;
}

.Contact .contact-form .btn{
  display: block;
  padding: 8px 30px;
  margin-left: auto;
}