a{
  text-decoration: none;
  color: white;
}

.NavMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #3c8aff;
  margin-bottom: 25px;
  padding: 10px 30px;
}

.NavMenu .n-logo{
  padding: 0 60px 0 20px;
  margin-right: 20px;
  border-right: 2px solid white;
  font-size: 1.4rem;
}

.NavMenu .n-link{
  padding: 0 20px;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}


.NavMenu .n-link-active{
  color: #ffc107;
  transition: color 0.2s ease;
}