

.Task{
  margin: 10px 0;
}

.Task input[type="checkbox"]{
  display: block;
  margin-left: auto;
}
.Task.Selected{
  border: 1px solid rgb(117, 4, 4);
}

.Task .tsk-btns{
  display: flex;
  justify-content: flex-start;
}
.Task .tsk-btns button{
  margin-right: 10px;
}


.ControlButtons{
  display: flex;
}

.ControlButtons button{
  flex: 1;
  margin: 0 4px
}




