/* in App.css only global styles are defined */
.App{
  overflow: hidden;
}
a{
  text-decoration: none;
}

.empty-message{
  margin: 20px 0;
  text-align: center;
  font-style: italic;
  opacity: 0.5;
}




